h1 {color: 	#F0F8FF;
		font size: 500%;
		text-align: center}
		
h2 {text-align: center}

nav li { display: inline-block }
nav li { border: 1px red }
nav li { padding: 8px;
		 margin: 5px;
		 background: lightgrey}

body {background: black;
		color: white;
		font: 24pt;
		font-family: 'Fira Sans Extra Condensed', sans-serif;}
		


p {
text-align: center
    width: 250px;
    border: 10px solid red;
    padding: 25px;
    margin: 25px;}


img { display: block;
    margin-left: auto;
    margin-right: auto }

		

		
	
a {color: #A52A2A}
a:hover { color: white}